#grid {
	width: 600px;
	height: 600px;
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	margin: auto;
}

.tile {
	/*width: 20px;
	height:20px;*/
	float: left;
	/*border: 1px solid black;*/
	/*background-color: #444444;*/
}

table {
	border-spacing: 0px;
	border-collapse: collapse;
}

td tr table{
	border: none;
	padding: 0px;
}