.web-content, .header {
	margin: auto;
	width: 800px;
}

.header {
	text-align: center;
}

.top-buttons {
	margin: auto;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

#grid {
	width: 600px;
	height: 600px;
	border: 3px solid #AAAAAA;
	border-radius: 4px;
	margin: auto;
}

.tile {
	float: left;
}